.col
{
text-align: center;
}
.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(1.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    flex-basis: 50%;
    margin-right: 5%;

}
.card1{
    background-image: url(1.jpg);
}

.card2{
   
    background-image: url(2.jpg);
    
}
.card3{
   
    background-image: url(3.jpg);
  

}
.card4{
    
    background-image: url(4.jpg);
   

}
.card6{
    
    background-image: url(5.jpg);
   

}
.card5{
    
    background-image: url(6.jpg);
   

}
.card:hover{
   transform: translateY(-10px)
}
button:hover{
    transform: translate(-10px)
}
